.badge {
  padding: 0.75rem 1.125rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  border-radius: var(--border-radius-badge);
  background-color: var(--color-badges);
  mix-blend-mode: multiply;
}

.icon {
  width: 1.25em;
  height: 1.25em;
}

.label {
  color: var(--color-main);
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-normal);
  text-transform: capitalize;
}
