.rating-scale {
  display: flex;
  column-gap: 4px;
  flex-shrink: 0;
}

.rating-icon {
  width: 1rem;
  height: 1rem;
  fill: var(--color-badges);
}

.is-rated {
  fill: var(--color-rating);
}

.is-blank {
  fill: var(--color-rating);
}
